<h2>Add receipe to the <%= @category.name %></h2>


<%= simple_form_for [@category, @bookmark] do |f| %>
  <%= f.association :recipe %>
  <%= f.input :comment %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
<br>
<p><%= link_to "Back to #{@category.name} recipes", category_path(@category) %></p>
<p><%= link_to "Main page", categories_path %></p>
