<div class="form-center mt-5">
  <h2>Add a Receipe to <%= @category.name %></h2>

  <%= simple_form_for [@category, @bookmark] do |f| %>
    <%= f.association :recipe %>
    <%= f.input :comment %>
    <%= f.submit class: "btn btn-warning"%>
  <% end %>

  <div class="pt-3">
    <%= link_to "Back to #{@category.name} recipes", category_path(@category) %>
  <div>
</div>
